#topblock {
    background-color: black;
    color: white;
    font: sans-serif;
    height:25%;
}
#usertop {
    display: inline-block;
    width:45%;
    position: absolute;
}

#comptop {
    display: inline-block;
    margin-left:45%;
    position: absolute;
}
#userplay {
    display:inline-block;
    width: 45%;
    float: left;
    
}

#compplay {
    display: inline-block;
    width: 45%;
    float:right;
    
}

#gameplay {
    height: 75%;
    overflow-y: auto;
    width: 100%;
    border: 1px solid black;
}
#buttons {
    width:100%;
    height: 11%;
    justify-content: center;
}
#user_score_checker, #comp_score_checker, #user_sumofcard_checker, #comp_sumofcard_checker{
    visibility: hidden;
}

#cardimg {
    width:30%;
    height:45%;
}

#rubashka {
    width:13%;
    height:30%;
    margin-left:5%;
    position: absolute;
    
}
#getcardjs {
    margin-top: 7%;
    margin-left:20%;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background: #0B63F6;
    box-shadow: 0 5px 0 #003CC5;
    width: 30%;
    height: 10%;
    font-size: 120%;
    display: inline-block;
}
#getcardjs:hover {
    background: #2a56bb;
 }
#getcardjs:active {
    background: #003CC5;
    box-shadow: none;
    position: relative;
    top: 3px;
}

#finishjs {
    margin-top: 7%;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background: #0B63F6;
    box-shadow: 0 5px 0 #003CC5;
    width: 30%;
    height: 10%;
    font-size: 120%;
    display:inline-block;
}
#finishjs:hover {
    background: #2a56bb;
 }
#finishjs:active {
    background: #003CC5;
    box-shadow: none;
    position: relative;
    top: 3px;
}
#finaljs {
    margin-top: 7%;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background: #0B63F6;
    box-shadow: 0 5px 0 #003CC5;
    width: 30%;
    height: 10%;
    font-size: 120%;
    display:inline-block;
    margin-left:37%;
}
#finaljs:hover {
    background: #2a56bb;
 }
#finaljs:active {
    background: #003CC5;
    box-shadow: none;
    position: relative;
    top: 3px;
}
